body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
    margin: 1% auto;
    border: 15px solid #bdc3c7;
    font-weight: 600;
    font-size: 16px;
}

h2 {
    color: #2c3e50;
    font-weight: 800;
    font-size: 2em;
    margin-left: 15px;
}

p {
    margin: 15px;
}

h2 + p {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

p.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr {
    color: #bdc3c7;
    margin: 0 15px;
    opacity: 0.20;
}