body {
    font-size: 10px;
}

p {
    font-family: 'Mali', cursive;
    font-size: 2em;
    line-height: 2;
}

h1 {
    font-family: 'Aguafina Script', cursive;;
    font-size: 5em;
    text-align: center;
    font-weight: 600;
}

span {
    font-size: 3em; /* em is relative font size. This span is inside paragraph so it will make it 2x the font size of the paragraph */
    text-decoration: line-through;
}