h1 {
    color:#FF0000;
    border-color: blue;
    border-width: 3px;
}

li {
    color:darkcyan;
}

h4 {
    color:rgb(200, 150, 127);
    background: black;
}

p {
    color: rgba(200, 150, 127, .5);
}

body {
    /* background: pink; */
    background: url("https://thumbs.dreamstime.com/z/wooden-texture-wood-grain-pattern-fibers-structure-background-vector-illustration-114961048.jpg");
    background-repeat: no-repeat; /*dont let background image repeat to fill space*/
    background-size: cover; /*make background cover whole body*/
}
